.title-1 {
    text-align: center;
    font-weight: 700;
}

.title-1 h1 {
    display: inline-block;
    font-family: 'Rock Salt', cursive;
    background-color: aqua;
    color: #fd0000;
    font-size: 48px;
    text-decoration: underline black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}

.title-2 {
    text-align: center;
}

.title-2 h1 {
    display: inline-block;
    font-family: 'Aclonica', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    color: #3cff00;
    background-color: #000000;
}

.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 600px;
}

.title-3 {
    text-align: center;
}

.title-3 h1 {
    font-family: 'Aclonica', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Rock Salt', cursive;
    color: blueviolet;
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 400px;
}

.Heading {
    color: rgb(0, 60, 255);
    text-decoration: underline #f501f5;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    background-color: rgb(0, 238, 255);
}

.List {
    color: rgb(200, 255, 0);
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: inline-block;
    background-color: rgb(237, 100, 134);
}

#Paragraph1 {
    color: #ff00d4;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    background-color: #3cff00;
}
