ul {
    text-align: right;
    list-style-position: inside;
}

.title {
    color: #ff0000;
    text-align: center;
    font-size: 48px;
    text-decoration: underline overline dotted blue;
}

.recipe-1 {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    font-weight: 700;
    background: #91ff00;
    float: right;
}

.recipe-1 .recipe_1 {
    background-color: aqua;
    color: #ff00dd;
}

.recipe-2 {
    font-size: 48px;
    font-weight: 700;
    background-color: #ffd000;
    text-align: center;
    font-style: italic;
}

.recipe-2 .recipe_2 {
    color: #ff0000;
    font-family: 'Shadows Into Light', cursive;
}

.recipe-3 {
    font-size: 60px;
    text-align: left;
}

.recipe-3 .recipe_3 {
    background-color: #0004ff;
    color: #ff00f2;
    font-family: 'Indie Flower', cursive;
}